<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section type="DynamicSection.SampleConsoleApplication.VTEXCustomConfigurationSection, DynamicSection.SampleConsoleApplication" name="VTEXCustom" />
  </configSections>
  <VTEXCustom 
    testValue="ABC123" otherValue="321CBA" 
    refreshPluginType="DynamicSection.Aerospike.AerospikeConfigurationReloadPlugin, VTEX.Configuration.DynamicSection.Aerospike"
    clusterIps="localhost" namespace="test"
    />
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>